@import 'fonts.css';

* {
    text-decoration: none;
    list-style: none;
    /* outline: 4px solid green !important; */
}

:root {
    --container-max-width-medium: calc(1200px + (var(--container-padding-inline) * 2));
    --container-padding-inline: 16px;
    --container-max-width-apps: calc(1300px + (var(--container-padding-inline) * 2));
    --container-padding-inline-apps: 30px;
}

html {
    scrollbar-color: #9F9 rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    overflow-x: hidden;
}

body {
    transition: background 0.4s ease-in;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Fira Code;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    max-height: 120px;
}

.container {
    max-width: var(--container-max-width-medium);
    padding-inline: var(--container-padding-inline);
    margin-inline: auto;
}

.nav__container {
    display: flex;
    width: 100%;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

/* * logo */

.nav__logo {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 11.5px;
    width: min(216px, 100%);
}

.nav__logo__text {
    display: flex;
    flex-direction: column;
    gap: 1.4px;
}

.nav__logo__title {
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.nav__logo__description {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-transform: lowercase;
    color: #575757;
}

/* * nav */

.nav__list {
    display: flex;
    gap: 10px;
}

.nav__link {
    font-family: 'Fira Code';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    padding: 13.4px 20px;
    position: relative;
}

.nav__link::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(81.72deg, #70ff00 2.53%, #0dffe3 93.99%);
    transition: 300ms linear;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
}

/* * slider */

.slider {
    margin-top: 56px;
    margin-bottom: 190px;
}

.slider__container {
    width: 100%;
    max-width: 1200px;
    max-height: 400px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider__title {
    color: rgb(0, 0, 0);
    font-family: 'Fira Code';
    font-size: 48px;
    font-weight: 700;
    line-height: 63px;
    text-align: left;
    width: min(777px, 100%);
    margin-bottom: 45px;
}

input[type=radio] {
    display: none;
}

label.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: absolute;

    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.cards {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;

}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(calc(-35% - 10vw)) scale(0.8);
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(calc(35% + 10vw)) scale(0.8);
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    z-index: 1;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform 0.4s ease-in;
}

#item-2:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);
}

/* * footer */

.footer {
    min-height: 290px;
    background-color: #fff;
    margin-top: auto;
}

.footer__logos {
    display: flex;
    gap: 16px;
    max-width: 262px;
    width: 100%;
    align-items: center;
    max-height: 83px;
}

.footer__logo {
    width: 24px;
    height: 24px;
}

.footer__container {
    display: flex;
    gap: 16px;
    padding: 32px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 262px;
    width: 100%;
}

.footer__title {
    font-family: Fira Code;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #1e1e1e;
}

.footer__text {
    font-family: Fira Code;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #1e1e1e;
}

@media (max-width: 700px) {
    .footer__container {
        flex-direction: column;
    }


    .footer {
        margin-top: 40px;
    }
}

/* * media */

@media (max-width: 1235px) {
    .cards {
        width: 60%;
    }
}

@media (max-width: 900px) {
    .slider__title {
        font-size: 32px;
    }
}

@media (max-width: 800px) {
    .slider {
        margin-bottom: 120px;
        margin-top: 25px;
    }
}

@media (max-width: 600px) {
    .cards {
        width: 55%;

    }

    .slider {
        margin-bottom: 0;
    }

}

@media (max-width: 450px) {

    .slider__title {
        font-size: 26px;
    }
}

@media (max-width: 1150px) {

    #item-1:checked~.cards #song-3,
    #item-2:checked~.cards #song-1,
    #item-3:checked~.cards #song-2 {
        transform: translatex(calc(-35% - 10vw)) scale(0.6);
        z-index: 0;
    }

    #item-1:checked~.cards #song-2,
    #item-2:checked~.cards #song-3,
    #item-3:checked~.cards #song-1 {
        transform: translatex(calc(35% + 10vw)) scale(0.6);
        z-index: 0;
    }

    #item-1:checked~.cards #song-1,
    #item-2:checked~.cards #song-2,
    #item-3:checked~.cards #song-3 {
        transform: translatex(0) scale(0.8);
        z-index: 1;
    }
}

/* * abs */

.slider__abs {
    position: absolute;
    z-index: -1;
}

.abs_container {
    height: 100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

.abs01 {
    object-fit: contain;
    width: 760px;
    top: 248px;
    left: -64px;
}

.abs02 {
    top: 160px;
    object-fit: contain;
    right: 72px;
    width: 989px;
}

/* * mobile slider  */
@media (max-width: 700px) {
    .card--mobile {
        position: absolute;
        margin: auto;
        transition: transform 0.4s ease;
        cursor: pointer;
    }

    .container--mobile {
        width: 100%;
        max-height: 600px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .container--mobile {
        padding-top: 490px;
        padding-bottom: 500px;
    }

    @media (max-width: 350px) {
        .container--mobile {
            padding-top: 350px;
            padding-bottom: 500px;
        }
    }

    .cards--mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #mobile--item-1:checked~.cards--mobile #mobile--song-3,
    #mobile--item-2:checked~.cards--mobile #mobile--song-1,
    #mobile--item-3:checked~.cards--mobile #mobile--song-2 {
        transform: translateY(calc(-100% - 6vh));
        z-index: 0;
        max-width: 450px;
    }

    #mobile--item-1:checked~.cards--mobile #mobile--song-2,
    #mobile--item-2:checked~.cards--mobile #mobile--song-3,
    #mobile--item-3:checked~.cards--mobile #mobile--song-1 {
        transform: translateY(calc(100% + 6vh));
        z-index: 0;
        max-width: 450px;
    }

    #mobile--item-1:checked~.cards--mobile #mobile--song-1,
    #mobile--item-2:checked~.cards--mobile #mobile--song-2,
    #mobile--item-3:checked~.cards--mobile #mobile--song-3 {
        transform: translateY(0);
        z-index: 1;
        max-width: 450px;
    }

    #mobile--item-2:checked~.player #test {
        transform: translateY(0);
    }

    #mobile--item-2:checked~.player #test {
        transform: translateY(-40px);
    }

    #mobile--item-3:checked~.player #test {
        transform: translateY(-80px);
    }


    .cards {
        display: none;
    }
}

@media (min-width: 701px) {
    .cards--mobile {
        display: none;
    }
}


/* * burger */

@media (max-width: 1260px) {
    .menu-button {
        display: block !important;
    }
}

@media (max-width: 1260px) {
    .mobile {
        display: flex;
        position: fixed;
        padding: 21px 16px;
        border-radius: 30px;
        transition: 0.2s;
        gap: 25px;
        background-color: rgba(255, 255, 255, 0.9);
        /* Изменено на белый цвет с прозрачностью 90% */
        border: 1px solid rgb(187, 187, 187);
        top: 98px;
        right: -215px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1260px) {
    .mobile.show {
        right: 15px;
    }
}

.menu-button {
    background-color: #4caf5000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
}

/* Add vendor prefixes for Safari */
.menu-button span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-button.clicked span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-button.clicked span:nth-child(2) {
    opacity: 0;
}

.menu-button.clicked span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-button.clicked {
    background-color: #e74c3c00;
}

/* * apss */

.apps-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
    padding: 2rem 1rem;
}

.card-apps {
    background-color: #fff;
    border-radius: 30px;
    transition: transform 300ms ease-in;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card-apps:focus {
    outline: 2px solid #1D4ED8;
}

.card-apps-wrapper {
    position: relative;
    /* overflow: hidden; */
}

.card-apps-wrapper img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 2;
    object-fit: cover;
    object-position: bottom;
    border-radius: 30px;
    transition: all 500ms linear;
}

.card-apps-wrapper:hover img {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 5px 23px 4px rgba(38, 255, 0, 1);
    -moz-box-shadow: 0px 5px 23px 4px rgba(38, 255, 0, 1);
    box-shadow: 0px 5px 23px 4px rgba(38, 255, 0, 1);
}

.hidden-cover {
    position: absolute;
    border-radius: 0 0 30px 30px;
    z-index: 1;
    left: 0px;
    width: 100%;
    opacity: 0;
    bottom: -11px;
    height: 26%;
    transition: all 250ms ease-in;
    background: rgb(2, 255, 1);
    background: linear-gradient(0deg, rgba(2, 255, 1, 1) 48%, rgba(255, 255, 255, 0) 88%);
    transform-origin: bottom;
    will-change: transform;
}

.card-apps-wrapper:hover .hidden-cover {
    opacity: 1;
    left: -5px;
    width: 105%;
}

h4 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    font-size: 24px;
    opacity: 0;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    overflow: hidden;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(100%);
    transform-origin: bottom;
    transition: all 250ms ease-out;
    will-change: transform;
}

.card-apps-wrapper:hover h4 {
    transform: translateY(0rem);
    opacity: 1;
}


/* * sites css */

.sites__title {
    font-family: Fira Code;
    font-weight: 700;
    font-size: 40px;
    color: #000;
    padding-bottom: 36px;
}

.sites__discription {
    font-family: Fira Code;
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.sites__item--slides {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 67px;
    padding-bottom: 500px;
}

.sites__item--flex {
    display: flex;
    gap: 80px;
}

.sites__slide--image {
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    object-fit: contain;
}

.abs_container--slide {
    height: 100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

.abs03 {
    object-fit: contain;
    top: 228px;
    width: 1900px;
}

.abs04 {
    top: 950px;
    object-fit: contain;
    width: 1900px;
}

/* * apps start */

/* * bulbul */

.container--apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin-top: 60px;
    margin-bottom: 110px;
    justify-items: center;
    margin-inline: auto;
    max-width: var(--container-max-width-apps);
    padding-inline: var(--container-padding-inline-apps);
}

.apps__titles--one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.apps__title--one {
    font-family: Fira Code;
    font-weight: 700;
    font-size: 80px;
    color: #000;
    max-width: 580px;
    width: 100%;
    min-height: 110px;
}

.apps__text--one {
    font-family: Fira Code;
    font-weight: 600;
    font-size: 26px;
    color: #000;
    max-width: 882px;
    width: 100%;
    min-height: 140px;
    padding-top: 33px;
}

.apps__image {
    width: 270px;
    height: 585px;
}

.apps__image--one {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0 18px;
}

.apps__image--two {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-top: 48px;
}

.apps__text--two {
    display: flex;
    align-items: center;
    max-width: 580px;
    width: 100%;
    max-height: 108px;
    border-radius: 30px;
    box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.15);
    background-color: #0094b0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 310px;
}

.apps__text--paragraph {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    padding: 15px 25px;
}

.apps__text__image {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.apps__image--three {
    padding-top: 20px;
    width: 380px;
}

.apps__image--four {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 262px;
    width: 100%;
    height: 215px;
    padding-bottom: 40px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

.apps__image--five {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-right: 50px;
    width: 380px;
}

.apps__image--six {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-top: 40px;
    margin-left: 90px;
}

.apps__titles--three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 173px;
}

.apps__title--absolute {
    font-weight: 700;
    font-size: 40px;
    color: #000;
}

.apps__text--absolute {
    font-weight: 600;
    font-size: 26px;
    color: #000;
}

.apps__image--seven {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    padding-top: 110px;
}

.apps__image--strelka {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    z-index: -1;
    width: 620px;
    padding-top: 0px;
}

.apps__titles--four {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 70px;
}

.apps__image--eight {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.apps__titles--five {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
    padding-top: 150px;
    padding-bottom: 100px;
}

.apps__text--three {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #000;
}

.apps__lenta--one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
}

.apps__lenta--two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
}

.apps__lenta--three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
}

.apps__lenta--four {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
}

.apps__titles--six {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 8;
}

.apps__themes__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    border-radius: 40px;
    padding: 32px;
    max-width: 580px;
    width: 100%;
    max-height: 620px;
    height: 100%;
    box-shadow: 0 9px 28px 0 rgba(0, 0, 0, .15);
    background-color: #f0f0f0;
    margin-top: 123px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 9;
}

.apps__themes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    max-width: 516px;
    width: 100%;
    max-height: 520px;
}

.apps__theme--group {
    display: flex;
    gap: 20px;
}

.apps__theme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.apps__theme--link {
    color: #000;
    width: 100%;
    text-decoration: none;
    padding: 8px 12px;
    min-height: 40px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 12px;
}

.apps__theme--link:hover {
    box-shadow: 0 0 6px 0 rgba(0, 148, 176, .5);
    background-color: #0094b0;
    color: #ffffff;
}

.apps__themes--info {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 9;
    margin-top: 261px;
}

.apps__image--nine {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 9;
    margin-top: 123px;
}

.apps__image--ten {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 10;
    grid-row-end: 10;
    margin-top: 123px;
}

.apps__logos {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 254px;
    border: 1px solid #000;
    border-radius: 60px;
    max-width: 890px;
    width: 100%;
    max-height: 388px;
    background-color: #fff;
}

.apps__logo--images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 48px;
}

.apps__logo--title {
    display: flex;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #000;
    padding: 0 152px;
}

.apps__developers--title {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 12;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #000;
    padding-top: 123px;
}

.apps__developers--name {
    display: flex;
}

.apps__text--absolute-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #000;
    max-width: 270px;
    width: 100%;
    min-height: 154px;
    margin-top: 34px;
}

.apps__developers--one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 13;
}

.apps__developers--two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 13;
}

.apps__developers--three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
}

.apps__developers--four {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 13;
}

.apps__logo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 14;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 424px;
}


/* * apps end */